<!DOCTYPE html>
<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/own.css') }}"/>
  </head>
  <body>
    <div id="navigation">
      {% block navigation %}{% endblock %}
    </div>
    <div id="content">
      <h1>{% block title %}{% trans %}Florent's NYC Log{% endtrans %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
