<!DOCTYPE html>
<html>
  <head>
    <title>{% block page_title %}NYC Log{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/own.css') }}"/>
  </head>
  <body>
    <div id="navigation">
      <ul>
      {% block navigation %}
        {% if current_user.is_authenticated() %}
          <li><a href="{{ url_for('logout') }}">{% trans %}Log out{% endtrans %}</a></li>
          {% if current_user.is_admin %}          
            <li><a href="{{ url_for('admin_home') }}">{% trans %}Admin{% endtrans %}</a></li>
          {% endif %}
        {% else %}
          <li><a href="{{ url_for('ask_login') }}">{% trans  %}Log in{% endtrans %}</a></li>
        {% endif %}
      {% endblock %}
      </ul>
    </div>
    <div id="content">
      <h1>{% block title %}{% trans %}Florent's NYC Log{% endtrans %}{% endblock %}</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
