{% extends "log_layout.html" %}
{% block page_title %}{% trans %}NYC Log - Authentication{% endtrans %}{% endblock %}
{% block navigation %}
<li><a href="{{ url_for('index') }}">{% trans %}&lt; Home{% endtrans %}</a></li>
{% endblock %}
{% block content %}
  <form method="POST" action="{{ url_for('login') }}">
    <div class="login-form">
      {{ form.hidden_tag() }}
      <div class="control">{{ form.login.label }} {{ form.login() }}</div>
      <div class="control">{{ form.password.label }} {{ form.password() }}</div>
      <input class="login-button" type="submit" value="{% trans %}Login !{% endtrans %}"/>
    </div>
  </form>
{% endblock %}
