{% extends "log_layout.html" %}
{% block page_title %}{% trans %}NYC Log{% endtrans %} - {{ post.title }}{% endblock %}
{% block navigation %}
<li><a href="{{ url_for('index') }}"{% trans %}>&lt Back{% endtrans %}</a></li>
{{ super() }}
{% endblock %}
{% block title %}{{ post.title }} <small>{{ post.created_at | format_date_local }}</small>{% endblock %}
{% block content %}
{{ post.content | paragraphs }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/images.js') }}"></script>
{% endblock %}
